<!DOCTYPE html>
<html>
  <head>
    <title>sub-email form</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>sub-email form</h1>
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="user name">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="cpassword" placeholder="conform password">
      <input type="password" name="apassword" placeholder="conform password">
      <button>Submit the button please <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
      <body>
        
      </body>
      </html></button>
      <button><a href="/login">log</a></button>
    </form>
  </body>
</html>
